@model MKEntertains.Models.ApplicationUser
@{
    ViewBag.Title = "ConfirmPlanAheadSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <br />
    <center>
        <div class="container">
            <br />
            <br />
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <h1>Your night out was saved successfully!</h1>
                <h3>Go ahead and click on your history above and view your planned ahead night out.</h3>
            </div>
            <div class="col-sm-2">
            </div>
            <br />
            <br />
        </div>
        <br />
        <br />
        <br />
        <br />
        <h2>
            If you'd like to recieve an email reminder the morning of your night out please click below.
        </h2>
            @Html.ActionLink("Get An Email Reminder", "SendReminderEmail", "PlanAhead", new { id = Model.Id }, new { @class = "btn btn-primary" })
    </center>








</body>
</html>

