
@{
    ViewBag.Title = "ConfirmPlanAheadSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <br />
    <center>
        <div class="container">
            <br />
            <br />
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <h1>Your night out was saved successfully!</h1>
                <h3>Go ahead and click on your history above and view your planned ahead night out.</h3>
            </div>
            <div class="col-sm-2">
            </div>
            <br />
            <br />
        </div>
    </center>








</body>
</html>

