
@{
    ViewBag.Title = "ConfirmPlanAheadSuccessful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <br />
    <center>
        <div class="container">
            <br />
            <br />
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <h1>Your reminder email will be sent to you the day before your scheduled event.</h1>
                <h3>Keep Looking around the Map and find new places around Milwaukee to try!</h3>
            </div>
            <div class="col-sm-2">
            </div>
            <br />
            <br />
         </div>
     </center>
</body>
</html>