
@{
    ViewBag.Title = "Plan Ahead!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<br />

<h4>
    Being a member has it's perks!
</h4>
<br />
<center>
    <h5>
        Here you have the ability to plan ahead and schedule a night out with friends or possibly that special someone... We have implemented an automatic email service to remind you the day before your event as well so you'll never miss a beat! Follow instructions below to get started on your planning.
    </h5>
</center>


