@using System.Collections.Generic;
@using Newtonsoft.Json;


<meta charset="UTF-8">
<title>MKEnterains</title>

<meta name="description" content="Entertainment Application">
<meta name="keywords" content="MKE Milwaukee Entertainment">
<meta name="author" content="Jendisch">

<style>
    .homeText {
        color: white;
    }

    body {
        background-image: url('../../Content/Images/MKELake.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-color: #272b30;
        color: white;
    }
</style>

<script>

</script>

<div class="homeText">
    <br />
    <h1>We specialize in weekday fun here...</h1>
    <h3>If you'd like to view ahead to plan your future weekday plans just login if you're a member already and if you're not we encourage you to become one!</h3>
    <h3>Click the Register button above on the right to begin looking ahead at MKEntertains.</h3>
    <br />
</div>
