@model IEnumerable<RestaurantDealsDataAccess.Deal>
@using System.Collections.Generic;
@using Newtonsoft.Json;


<meta charset="UTF-8">
<title>MKEnterains</title>

<meta name="description" content="Entertainment Application">
<meta name="keywords" content="MKE Milwaukee Entertainment">
<meta name="author" content="Jendisch">

<style>
    .homeText 
    {
        color: white;
    }

    body {
        background-image: url('../../Content/Images/MKELake.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-color: #272b30;
        color: white;
    }
</style>

<script>

</script>

<div class="homeText">
    <br />
    <h1>We specialize in weekday fun here... go back to check out great week day food/drink specials & entertainment! </h1>
    <br />
    <div align="left">
        <input type="button" class="btn btn-primary" value="Go Back" onclick="location.href='javascript:history.go(-1)'" />
    </div>
</div>
