@model IEnumerable<FoodDrinkDataAccess.Deal>
@using System.Collections.Generic;
@using Newtonsoft.Json;


<meta charset="UTF-8">
<title>MKEnterains</title>

<meta name="description" content="Entertainment Application">
<meta name="keywords" content="MKE Milwaukee Entertainment">
<meta name="author" content="Jendisch">

<style>
    .homeText 
    {
        color: white;
    }
</style>

<script>

</script>

<div class="homeText">
    <br />
    <h2>We specialize in weekday fun here... go back to check out great week day food/drink specials & entertainment! </h2>
    <br />
    <div align="left">
        <input type="button" class="btn btn-primary" value="Go Back" onclick="location.href='javascript:history.go(-1)'" />
    </div>
</div>
