@model MKEntertains.Models.ApplicationUser
@{
    ViewBag.Title = "Your MKEntertains History.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>
<br />

<center>
    <h3>
        You do not have any previously planned nights out or any planned events scheduled for the future.
    </h3>
</center>

